* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: lightgrey;
}

/* utility class */
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* color */
/* /color */
/* /utility class */
#site-content {
  height: calc(100% - 80px);
}

/* sidebar */
.sidebar {
  background-color: black;
  min-width: 200px;
  max-width: 200px;
  color: grey;
  height: calc(100vh - 80px);
  justify-content: space-between;
  overflow: hidden;
}

.sidebar li:hover {
  border-left: 2px solid lightgreen;
}

.sidebar a:hover {
  color: white;
}

/* sidebar_top */
.sidebar_top {
  padding: 15px 0px;
}

.sidebar_top .logo {
  width: 70%;
  margin-bottom: 10px;
  padding: 0 10px;
}

.sidebar_top img {
  width: 15%;
  color: grey;
}

.sidebar li {
  padding: 5px 10px;
}

.sidebar a {
  text-decoration: none;
  color: grey;
}

.sidebar_top ul {
  margin: 10px 0;
}

.sidebar_top i {
  font-size: 2.5em;
}

.nome_playlist {
  overflow-y: scroll;
}

.playlist_text {
  margin: 10px 0;
  padding: 0 10px;
  color: white;
}

.crea_playlist {
  padding: 0 10px;
}

.crea_playlist_text {
  align-self: center;
  margin-left: 10px;
}

/* /sidebar_top */
/* sidebar_bottom */
.sidebar_bottom {
  justify-content: flex-end;
  padding: 0 10px;
}

.sidebar_bottom i {
  margin-right: 5px;
}

.sidebar_bottom>div {
  padding: 5px 0;
}

.installa_app {
  border-bottom: 1px solid grey;
}

.installa_app i {
  font-size: 0.8em;
  background-color: black;
}

.artist i {
  font-size: 1.4em;
}

.artist h5 {
  display: inline-block;
  color: white;
}

/* /sidebar_bottom */
/* /sidebar */
/* main_content */
/* subscribe_banner */
.subscribe_banner {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 80px;
  background-color: #0c0c0ca1;
}

.btn-upgrade {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 30px;
  position: absolute;
  right: 0;
  bottom: 30%;
  margin-right: 30px;
  font-size: 0.9em;
}

.btn-upgrade:hover {
  color: white;
}

/* /subscribe_banner */
.main_content {
  background-color: #141922;
  width: calc(100% - 200px);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 80px;
  color: white;
}

/* navbar */
nav {
  padding: 10px 10px;
  justify-content: center;
  flex-wrap: wrap;
}

nav>div {
  margin: 10px 10px;
}

.navbar_menu a {
  text-decoration: none;
}

.navbar_menu a:hover {
  color: grey;
}

/* /navbar */
/* recently_played */
.menu_recently_played {
flex-wrap: wrap;
justify-content: space-between;
padding: 30px 0;
}

.card_recently_played {
  align-items:center;
  text-align:center;
}

.card_recently_played > * {
width: 200px;
}



/* /recently_played */
/* /main_content */
/* player */
.player {
  height: 80px;
  background-color: #282828;
  color: white;
}

/* /player */
