* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: lightgrey;
}

/* utility class */
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* color */

 .black {color: black;}

/* /color */
/* /utility class */
#site-content {
  height: calc(100% - 80px);
}

/* sidebar */
.sidebar {
  background-color: black;
  min-width: 200px;
  max-width: 200px;
  color: grey;
  height: calc(100vh - 80px);
  justify-content: space-between;
  overflow: hidden;
}

.sidebar li:hover {
  border-left: 2px solid lightgreen;
}

.sidebar li a:hover {
  color: lightgrey;
}



/* sidebar_top */
.sidebar_top {
  padding: 15px 0px;
}

.sidebar_top .logo {
  width: 70%;
  margin-bottom: 10px;
  padding: 0 10px;
}

.sidebar_top i{
  font-size: 25px;
  margin-right: 5px;
}

.sidebar li {
  padding: 5px 10px;
}

.sidebar a {
  text-decoration: none;
  color: grey;
}

.sidebar_top ul {
  margin: 10px 0;
}


.nome_playlist {
  overflow-y: scroll;
}

.playlist_text {
  margin: 10px 0;
  padding: 0 10px;
  color: white;
}

.crea_playlist {
  padding: 0 10px;
}

.crea_playlist_icon {
  background: grey;
  padding: 8px;
}

.crea_playlist_text {
  align-self: center;
  margin-left: 5px;
}

/* /sidebar_top */
/* sidebar_bottom */
.sidebar_bottom {
  justify-content: flex-end;
  padding: 0 10px;
}

.sidebar_bottom i {
  margin-right: 5px;
}

.sidebar_bottom>div {
  padding: 5px 0;
}

.installa_app {
  border-bottom: 1px solid grey;
}

.installa_app i {
  font-size: 0.8em;
  background-color: black;
}

.artist i {
  font-size: 1.4em;
}

.artist h5 {
  display: inline-block;
  color: white;
}

/* /sidebar_bottom */
/* /sidebar */
/* main_content */

.main_content p {
  color: grey;
}

.main_content h4 {
  padding: 10px 0;
}

/* subscribe_banner */
.subscribe_banner {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 80px;
  background-color: #0c0c0ca1;
}

.btn-upgrade {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 30px;
  position: absolute;
  right: 0;
  bottom: 30%;
  margin-right: 30px;
  font-size: 0.9em;
}

.btn-upgrade:hover {
  color: white;
}

/* /subscribe_banner */
.main_content {
  background-color: #141922;
  width: calc(100% - 200px);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 80px;
  color: white;
}

/* navbar */
nav {
  padding: 10px 10px;
  justify-content: center;
  flex-wrap: wrap;
}

nav > div {
  margin: 10px 10px;
}

.navbar_menu a {
  text-decoration: none;
}

.navbar_menu a:hover {
  border-bottom: 2px solid green;
  color: lightgrey;
}

/* /navbar */
/* recently_played */

#recently_played > h2,p {
  margin: 0 10px;
}

.menu_recently_played {
flex-wrap: wrap;
justify-content: flex-start;
padding: 30px 0;
}

.menu_recently_played > div {
margin: 0 10px;
}

.card_recently_played {
align-items:center;
text-align:center;
padding: 10px 0;
}

.card_recently_played > * {
width: 200px;
}

.card_recently_played p {
  margin: 0;
}

/* /recently_played */



/* create_for_you */

#create_for_you > h2,p {
  margin: 0 10px;
}

#create_for_you > p {
  padding: 10px 0;
}

.menu_create_for_you {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px 0;
}

.card_create_for_you {
  align-items:center;
  text-align:center;
  padding: 10px 0;
}

.menu_create_for_you > div {
  margin: 0 10px;
}

.card_create_for_you > * {
width: 200px;
}

/* /create_for_you */


/* artisti_popolari */

#artisti_popolari > h2,p {
  margin: 0 10px;
}

#artisti_popolari > p {
  padding: 10px 0;
}
.menu_artisti_popolari {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px 0;
}


.menu_artisti_popolari > div {
  margin: 0 10px;
}


.card_artisti_popolari {
  align-items:center;
  text-align:center;
  padding: 10px 0;
}

.card_artisti_popolari img{
  border-radius: 50%;
}

.card_artisti_popolari > * {
width: 200px;
}

/* /artisti_popolari */


/* /main_content */
/* player */
.player {
  height: 80px;
  background-color: #282828;
  color: white;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  align-items:center;
}

[class*="player_"] {
  padding: 5px 0;
}

.player span {
  font-size: 0.8em;
}

/* player_left */


.player_left {
width: 250px;
align-items: center;
justify-content: space-around;
}

.player_left img {
  width: 50px;
}

.player_artist_track {
  margin: 0 5px;
  width: 50%;
  text-align: left;

}

.player_artist_track h5 {
  margin: 0;
}

.player_left_icons {
  width: 30%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.player_left_icons i {
  color: grey;
  padding: 0 5px;
}
/* /player_left */

/* player_center */

.player_center {
  width: 40%;
  align-items: center;

}

.player_icons {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.player_icons i {
  padding: 0 10px;
}

.play_icon {
  font-size: 2em;
}


.player_track {
  width: 100%;
  justify-content: space-around;
}

.player_track > span {
  padding: 0 10px;
}

#playerRange {
  width: 75%;
}
/* /player_center */

/* player_right */
.player_right {
justify-content: space-around;
width: 250px;

}

.player_right > i {
  color: lightgrey;
  padding: 0 5px;
}

#volumeRange {
  width: 90px;
}


.slider {
align-self: center;
-webkit-appearance: none;
height: 5px;
border-radius:20px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
border-radius:50%;
background: #4CAF50;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
cursor: pointer;
}


/* /player_right */
/* /player */
